<!-- 通用JS -->
<div th:fragment="footerjs">
    <script th:src="@{/layui/layui.js}" src="../static/layui/layui.js"></script>
    <script th:src="@{/layui/layui-admin.js}" src="../static/layui/layui-admin.js"></script>
    <script>
        //JavaScript代码区域
        var element;
        var tabAry=new Array();
        var eleObj;
        layui.use('element', function(){
            element = layui.element;
            //一些事件监听
            element.on('tab(tabs)', function(data){
                eleObj=data;
            });
        });

        var i = 0;
        function addTabs(title,url){
            var tabid = 'tab'+i;
            element.tabAdd('tabs', {
                title: title,
                content:
                    '<div class="layui-body" id="LAY_app_body">\n' +
                    '      <div class="layadmin-tabsbody-item layui-show">\n' +
                    '       <iframe src="http://localhost:8888'+url+'" class="layadmin-iframe" frameborder="0">\n' +
                    '       </iframe>\n' +
                    '      </div>\n' +
                    '</div>',//支持传入html
                id: tabid
            });
            tabAry[i] = tabid;
            i = i+1;
        }

        function removeAllTabs(){
            console.log(tabAry);
            tabAry.forEach(function(value){
                element.tabDelete('tabs', value);
            })

        }
        function removeThisTab(){
            var tabid = eleObj.elem.context.attributes["lay-id"].value;
            tabAry.forEach(function(value){
                element.tabDelete('tabs', tabid);
            })

        }
    </script>
</div>