<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sking.mapper.BaseRolesMapper">
  <resultMap id="BaseResultMap" type="com.sking.entity.BaseRoles">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleid" jdbcType="CHAR" property="roleid" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="role_level" jdbcType="INTEGER" property="roleLevel" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
  </resultMap>

  <select id="selectRolesListByUserid" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
        r.*
    FROM
        base_users u,
        base_users_roles ur,
        base_roles r
    WHERE
        u.userid = ur.userid
        AND ur.roleid = r.roleid
        AND u.userid = #{userid}
  </select>
</mapper>